* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.watermark {
    position: fixed; 
    top: 5%; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: -1;
}

.container {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0px 28px 0px 56px;
}

.container h1 {
    font-family: sans-serif;
}

.header-container {
    border: 1px solid black;
    display: flex;
    height: 10%; /* Ajusta conforme o conteúdo */  
}

.main-container {
    border: 1px solid black;
    display:flex;
    height: 80%; /* Ocupa o espaço restante */
}

.footer-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa o espaço restante */
}

.content-footer {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    font-weight: bold;
}

.info-footer {
    text-align: left;
}

.number-page {
    text-align: right;
}